*{
  border: 0;
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

body{
  background-color: #DDD;
}

nav{
  height: 10vh;
  overflow: hidden;
  background-color: #222;
  box-shadow: 0 0 8px #0007;
}

ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

li{
  width: 100%;
  height: 100%;
  list-style: none;
}

a{
  width: 100%;
  height: 100%;
  color: #07B;
  padding: 10px;
  display: flex;
  font-size: large;
  text-align: center;
  font-weight: bolder;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  border: 2px solid #222;
  text-transform: uppercase;
}

a:hover{
  color: #0BF;
  border-bottom: 4px solid #0BF;
}

div{
  display: flex;
  height: fit-content;
  flex-direction: column;
  background-color: #222;
}

#divPrincipal{
  gap: 10px;
  margin: 20px;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 20px;
  box-shadow: 0 0 8px #000;
}

#divPrincipal div:first-child{
  height: 100%;
}

h1{
  color: #0AD;
  padding: 10px;
  width: fit-content;
  align-self: center;
  font-size: xx-large;
}

h3{
  color: #AAA;
  padding: 0 10px;
  width: fit-content;
  align-self: center;
  border-bottom: 1px solid #035;
}

p{
  color: #DDD;
  display: flex;
  font-size: large;
  line-height: 1.5;
  width: fit-content;
  text-align: justify;
}

p::first-letter{
  color:#0AF;
}

#tamanho{
  align-self: center;
}

span{
  color: #0AF;
  padding: 0 4px;
}

pre{
  gap: 5px;
  width: 100%;
  display: flex;
  cursor: pointer;
  max-height: 40%;
  overflow-y: auto;
  margin: 10px 0;
  overflow-x: hidden;
  height: fit-content;
  flex-direction: column;
  padding: 10px 20px 10px;
  background-color: #111;
  border-left: 1px solid #07B;
}

code{
  color: #AAA;
  line-height: 2;
  font-size: large;
  word-break: break-all;
  white-space: pre-line;
  user-select: all !important;
  border-bottom: 1px solid #222;
}

code::selection{
  color: #0BF;
  background-color: #035;
}

#relogio{
 color:#0BF;
 align-self: center;
 font-size: xx-large;
}

#textoVisivel{
  box-shadow: none;
  align-items: center;
}

#textoVisivel p{
  transition: all 0.5s;
}

#divEntrada{
  display: flex;
  margin: 20px 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.botao{
  height: 40px;
  color: #DDD;
  cursor: pointer;
  font-size: large;
  width: fit-content;
  padding: 10px 20px;
  border: 0 !important;
  margin: 0 !important;
  background-color: #059;
 }

 .entrada::-webkit-outer-spin-button,
 .entrada::-webkit-inner-spin-button {
   -webkit-appearance: none;
 }

 .entrada{
  height: 40px;
  outline: none;
  color: #DDD;
  font-size: large;
  text-align: center;
  width: fit-content;
  padding: 10px 20px;
  width: 100px !important;
  background-color: #047;
}

@media only screen and (max-width: 600px){}